
/*---------------listings index CSS--------------*/
#all-listings{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}

#listing-index-item{
    height: 30vw;
    width: 21vw;
    /* border: 1px solid green; */
    margin: 5px;
    font-size: 18px;
    /* color: rgb(79, 72, 72); */
}

/* #listing-index-item:hover{
    height: 500px;
} */

#link{
    font-size: 25px;
    text-decoration: none;
}

#link:visited{
    text-decoration: none;
}

/*creates spacing between the items in the list */
#listing-info > li{
    padding-top: 5px;
}

#house-img img{
    height: 21vw;
    width: 21vw;
    border-radius: 20px;
}

#house-img img:hover{
    height: 22vw;
    width: 22vw;
}

#price-span{
    color: black;
    font-weight: normal;
    font-size: medium;
}

.price-info{
    display: flex;
    align-items: center;
}

#all-listings-map-container{
    display: flex;
    justify-content: center;
}

#all-listings-map{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 90vh;
    height: 50px;
    width: 200px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: white;
}


@media (max-width: 1250px){
    #all-listings{
        grid-template-columns: auto auto auto;
    }
    #listing-index-item{
        height: 37vw;
        width: 27vw;
    }
    #house-img img{
        height: 27vw;
        width: 27vw;
    }
    #house-img img:hover{
        height: 28vw;
        width: 28vw;
    }
}

@media (max-width: 1000px){
    #all-listings{
        grid-template-columns: auto auto;
    }
    #listing-index-item{
        height: 50vw;
        width: 41vw;
    }
    #house-img img{
        height: 41vw;
        width: 41vw;
    }
    #house-img img:hover{
        height: 42vw;
        width: 42vw;
    }
}

@media (max-width: 750px){
    #all-listings{
        grid-template-columns: auto;
    }
    #listing-index-item{
        height: 80vw;
        width: 64vw;
    }
    #house-img img{
        height: 64vw;
        width: 64vw;
    }
    #house-img img:hover{
        height: 65vw;
        width: 65vw;
    }
    /* #root > *{
        display: flex;
        flex-direction: column;
    } */
}
