/* .CalendarDay__selected_span {
    background: #82e0aa;
    color: white;
    border: 1px solid red;
} */

.DateInput{
    width: 126px;
    padding: 0;
    border: none;
}

.DateInput > *{
    border: 1px solid grey;
}
