#review-container{
    border-bottom: 1px solid var(--grey);
    padding-bottom: 15px;
    margin: 15px 0;
}

#review-form-container{
    padding: 15px 0;
}

#review-title-form, #review-body-form{
    padding: 10px 16px;
    margin: 5px 0;
    caret-color: #dc1262;
    border-radius: 4px;
    width: 65%;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
}

#review-title-form:hover, #review-body-form:hover{
    border-color: #dc1262;
}

#user-review-info{
    display: flex;
    align-items: center;
}

#review-username{
    padding-bottom: 6px;
    font-weight: bold;
}

#review-time{
    color: gray;
}

#review-body, #review-title{
    margin: 15px 0
}

#review-stars{
    margin-bottom: 15px;
}

.review-button{
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    background-color: var(--red);
    color: white;
    cursor: pointer;
    margin-right: 0.5vw;
}

#review-button-container{
    display: flex;
}

#write-a-review-button{
    cursor: pointer;
    text-decoration: underline;
    width: fit-content;
}

#star-rating-container{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}


/* #username-and-time > :nth-child(1){
    padding-bottom: 8px;
    font-weight: bold;
} */
