#progress-container{
    display: grid;
    grid-template-columns: 23vw 22vw;
    column-gap: 9%;
    row-gap: 15px;
}

.progress-item{
    display: flex;
    justify-content: space-between;
}

#progress-rating{
    display: flex;
    align-items: center;
}

#progress-rating > p {
    padding-left: 10px;
}
