/*right-hand-side of show page*/
#right-show{
    /* margin-right: 4.5vw; */
    width: 33vw;
    border: 1px solid #dddddd;
    box-shadow: 0 0 15px #dddddd;
    border-radius: 10px;
    /* position: relative; used to center things relative to this */
}

#right-show > * {
    margin: 1.5vw;
}

.price-show{
    font-size: 20px;
}

#preliminary-right-info-show{
    display: flex;
    justify-content: space-between;
}

/* #checkin-checkout > *{
    display: flex;
    justify-content: space-between;
} */

#check-in-labels{
    display: flex;
    justify-content: center;
}

#check-in-labels > * {
    padding: 5px 15px;
}

#guests-on-form input{
    width: 312px;
}

#reserve-button-container{
    display: flex;
    justify-content: center;
}

#reserve-button{
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30px;
    background-color: var(--red);
    color: white;
    cursor: pointer;
    font-size: 20px;
}

#charge-show{
    display: flex;
    justify-content: center;
    font-size: small;
}

.price-info-item-show{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

#total-show{
    border-top: solid 2px var(--grey);
    padding-top: 15px;
}

/* Number-of-guests plus-minus stuff from https://codepen.io/mtbroomell/pen/yNwwdv */

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .value-button:hover {
    cursor: pointer;
  }

  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }

  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }

  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }

  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
