#reservation-index-item-container{
    height: fit-content;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

#reservations-container{
    display: grid;
    grid-template-columns: auto auto auto;
    /* display: flex;
    flex-wrap: wrap; */
    padding: 15px 0;
}

#reservation-container{
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: end; */
    /* border: 1px solid red; */
}

#reservation-index-item{
    height: 34vw;
    width: 25vw;
    /* border: 1px solid green; */
    font-size: 18px;
    margin-right: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}

#reservation-house-img img{
    height: 25vw;
    width: 25vw;
    border-radius: 20px;
}

#reservation-house-img img:hover{
    height: 26vw;
    width: 26vw;
}

#reservation-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


#reservation-title{
    font-size: 19px;
}

#reservation-info{
    padding-top: 10px;
    font-size: 15px;
    font-style: italic;
}

#show-page-buttons{
    display: flex;
    align-items: center;
}

.show-page-button{
    cursor: pointer;
    text-decoration: underline;
    width: fit-content;
    font-size: 15px;
    padding: 15px;
}

#reservation-form-modal{
    z-index: 2;
}
