/* body.active-modal {
    overflow-y: hidden;
} */

.btn-modal {
    /* padding: 10px 20px; */
    /* display: block; */
    /* margin: 0px auto 0; */
    /* font-size: 15px; */
    /* cursor: pointer; */
    margin: 5px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 8%;
    right: 5%;
    /* font-size: 15px; */
    /* transform: translate(-50%, -50%); */
    line-height: 2.2; /* makes it so there is space between the lines */
    background: white;
    border-radius: 10px;
    /* max-width: 150px; */
    min-width: 20px;
    cursor: pointer;
}

.modal-content > * > * {
    padding: 10px 30px;
}

.dropdown-modal-content-item{
    border-bottom: 1px solid #f0f0f0;
}

.modal-content > * > *:hover{
    background-color: #f0f0f0;
    border-radius: 10px;
}
