/* body{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 5px;
} */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: top;
    /* vertical-align: top; */
    /* align-items: flex-start; */
    /* align-items: right; */
    /* padding: 5px; */
}

.login-links {
    display: flex;
    align-items: right;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-right: 5px; */
}

/* #signup, #login{
    color: black;
    text-decoration: none;
} */

#login:hover, #signup:hover{
    background-color: red
}
